body {
	background-color: rgb(17, 17, 17);
}

.main-area .ng-scope {
	color: #CCC;
	font-family: sans-serif;
}

.main-area .ng-scope a {
	text-decoration: none;
	color: #637BFF;
}

.main-area .ng-scope h2 {
	color: #CCC;
	font-family: sans-serif;	
}

.top-bar {
	background-color: #6B6B6B;
}

.panel {
	background: rgba(165, 142, 162, 0.5);
}

.panel .ng-scope {
	color: #CCC;
	font-family: sans-serif;
}

.panel .ng-scope a {
	text-decoration: none;
	color: #637BFF;
}

.ng-scope p {
	color: #CCC;
}

label {
	color: #CCC;
}

.error label {
	color: rgb(255, 107, 107);
}

.table {
	background: rgb(219, 207, 191);
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: rgb(213, 202, 202);
}

table .ng-binding {
	color: #555;
}

.main-area .ng-scope table a {
	color: #637BFF;
}

.search-bar, .small-top-search {
	float:left; 
	margin-bottom: 10px;
}

.search-button, .small-top-go {
	float:left; 
	margin-bottom:10px;
	margin-left: 10px;
}

.top-new-button, .small-top-new {
	float: right;
}

.main-area .ng-scope .button {
	color: black;
}

.split.button span:before {
	border-color: black transparent transparent transparent;
	font-size: 0.8em;
}

ul li {
	list-style-type: none; 
}

.panel {
	border-radius: 10px;
}

.panel h3 {
	margin-top: -5px;
	color: #CCC;
	margin-bottom: 0px;
}

.panel h4{
	color: #CCC;
}

.panel h5{
	color: #CCC;
}

.panel h6{
	color: #CCC;
}

ul .panel:hover {
	background-color: rgba(165, 142, 162, 0.2);
}

.panel .contact-list {
	margin-left: 0px;
}

.panel .contact-list-small {
	margin-left: 0px;
	line-height: 1.2em;
}

.panel .subtitle {
	margin-top: -5px;
	margin-bottom: 10px;
}

.image-fix {
	width: 100%;
}

.split.button span:before {
	margin-top: 3px;
}

.button.small.radius.btn-width {
    width: 100%;
    margin-bottom: 0;
    margin-top: 10px;
}

.panel > :last-child {
	margin: 1.25em 0 1.1875em;
}

.row.row-height {
	margin-top: 0;
	margin-bottom: 0;
}

.split.button.profile-btn span:before {
	border-color: transparent;
}

.split-icons {
	position: absolute;
	margin-top: 6px;
	margin-left: -6px;
}

.section-container section .content, .section-container .section .content, .section-container.auto section .content, .section-container.auto .section .content {
	background: rgba(165, 142, 162, 0.2);
}

.section-container.tabs section .content, .section-container.tabs .section .content {
	border: #CCC;
}

.section-container.tabs section.active .title, .section-container.tabs .section.active .title {
	z-index: -1;
	background: rgba(165, 142, 162, 0.2);
	border: #CCC;
}

.img-width li a img{
	width: 100%;
}

.section-container.tabs section .title a, .section-container.tabs .section .title a {
	color: #CCC;
}

.section-container.tabs section .title, .section-container.tabs .section .title {
	background: rgba(165, 142, 162, 0.4);
}