<form name="myForm" class="panel">
    <h2>{{formTitle}}</h2>
  <div class="row">
    <div ng-class="{error: myForm.Name.$invalid}">

        <div class="small-11 large-5">
          <div class="edit-row row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">First Name</label>
            </div>
            <div class="small-8 columns">
              <input type="text" id="right-label" name="FirstName" ng-model="contact.FirstName">
            </div>
            <div class="small-1 columns">
                <label for="right-label" class="right inline hide-for-small"><span data-tooltip class="has-tip tip-right" title="Please enter your first name."><i class="foundicon-idea inline"></i></span></label>
                <span data-tooltip class="has-tip tip-right hide-for-medium-up" title="Please enter your first name."><i class="foundicon-idea"></i></span>

            </div>
          </div>
        </div>

        <div class="small-11 large-5">
          <div class="edit-row row">
            <div class="error">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline">Last Name</label>
                </div>
                <div class="small-8 columns">
                  <input type="text" id="right-label" name="LastName" ng-model="contact.LastName" required>
                </div>
                <div class="small-1 columns">
                    <label for="right-label" class="right inline hide-for-small"><span data-tooltip class="has-tip tip-right" title="Please enter your last name."><i class="foundicon-idea inline"></i></span></label>
                    <span data-tooltip class="has-tip tip-right hide-for-medium-up" title="Please enter your last name."><i class="foundicon-idea"></i></span>
                </div>
            </div>
          </div>
        </div>

        <div class="small-11 large-5">
          <div class="edit-row row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Title</label>
            </div>
            <div class="small-8 columns">
              <input type="text" id="right-label" name="Title" ng-model="contact.Title">
            </div>
            <div class="small-1 columns">
                <label for="right-label" class="right inline hide-for-small"><span data-tooltip class="has-tip tip-right" title="Please enter your job title. e.g. 'VP Of Fun'."><i class="foundicon-idea inline"></i></span></label>
                <span data-tooltip class="has-tip tip-right hide-for-medium-up" title="Please enter your job title. e.g. 'VP Of Fun'."><i class="foundicon-idea"></i></span>
            </div>
          </div>
        </div>

        <div class="small-11 large-5">
          <div class="edit-row row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Email</label>
            </div>
            <div class="small-8 columns">
              <input type="text" id="right-label" name="Email" ng-model="contact.Email">
            </div>
            <div class="small-1 columns">
                <label for="right-label" class="right inline hide-for-small"><span data-tooltip class="has-tip tip-right" title="Please enter an email address. e.g. 'john.smith@example.com'"><i class="foundicon-idea inline"></i></span></label>
                <span data-tooltip class="has-tip tip-right hide-for-medium-up" title="Please enter an email address e.g. 'john.smith@example.com'"><i class="foundicon-idea"></i></span>
            </div>
          </div>
        </div>

        <div class="small-11 large-5">
          <div class="edit-row row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Phone</label>
            </div>
            <div class="small-8 columns">
              <input type="text" id="right-label" name="Phone" ng-model="contact.Phone">
            </div>
            <div class="small-1 columns">
                <label for="right-label" class="right inline hide-for-small"><span data-tooltip class="has-tip tip-right" title="Please enter a valid phone number."><i class="foundicon-idea inline"></i></span></label>
                <span data-tooltip class="has-tip tip-right hide-for-medium-up" title="Please enter a valid phone number."><i class="foundicon-idea"></i></span>
            </div>
          </div>
        </div>
    
        <input disabled="disabled" type="hidden" name="Id" ng-model="contact.Id">

    </div>
  </div>

    <p style='text-align: center;padding-bottom: 30px;padding-top: 40px;'>
    <a href="#" ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
    class="button small radius">Save
    </a>
    <a ng-click="destroy()" ng-show="contact.Id" class="button small radius alert">Delete</a>
    <a ng-click="doCancel()" class="button small radius secondary">Cancel</a>
    </p>

</form>