<form name="myForm" class="panel">
    <div class="row">
        <div class="large-3 columns">
            <div ng-class="{error: myForm.Name.$invalid}">
                <label>First Name</label>
                <input type="text" name="FirstName" ng-model="contact.FirstName"/>

                <div class="error">
                    <label>Last Name</label>
                    <input type="text" name="LastName" ng-model="contact.LastName" required/>
                    <small ng-show="myForm.LastName.$error.required">
                    Required</small>
                </div>

                <label>Title</label>
                <input type="text" name="Title" ng-model="contact.Title"/>

                <label>Email</label>
                <input type="text" name="Email" ng-model="contact.Email"/>


                <label>Phone</label>
                <input type="text" name="Phone" ng-model="contact.Phone"/>


                <input disabled="disabled" type="hidden" name="Id" ng-model="contact.Id">
            </div>
        </div>
    </div>

    <p style='text-align: center;padding-bottom: 30px;padding-top: 40px;'>
    <a href="#" ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
    class="button small radius">Save
    </a>
    <a ng-click="destroy()" ng-show="contact.Id" class="button small radius alert">Delete</a>
    <a ng-click="doCancel()" class="button small radius secondary">Cancel</a>
    </p>
</form>