<div ng-show="isWorking()">
    <p>Working</p>
</div>

<div ng-show="!isWorking()">

    <div class="large-12 small-12 columns">
        <div class="row collapse">
            <div class="large-3 small-3 columns">
                
                    <a href="#/new" class="button small split">New<span></span></a>
            
            </div>
            <div class="large-offset-5 small-offset-5 large-3 small-3 columns">
                <input type="text" ng-model="searchTerm" placeholder="Search">
            </div>
            <div class="large-1 small-1 columns">
                <a href='' class=" button postfix" ng-click="doSearch(searchString)"><i class="foundicon-search"></i></a>
            </div>
        </div>
    </div>

    
    <div class="small-12 large-12 columns">    
        <ul>
            <li class="small-12 large-12 columns panel" ng-repeat="contact in contacts" ng-click="doView(contact.Id)">
                <div class="large-2 small-4 left">
                    <a href="#/view/{{contact.Id}}" class="th radius image-fix"><img src="https://sphotos-b.xx.fbcdn.net/hphotos-snc7/307343_10151322448748657_623747077_n.jpg"></a>
                </div>

                <div class="large-5 small-8 columns">
                    
                    <div class="hide-for-small">
                        <h3>{{contact.FirstName}} {{contact.LastName}}</h3>
                        <p class="subtitle"><small>{{contact.Title}}</small></p>
                    </div>
                    <div class="hide-for-medium-up">
                        <h4>{{contact.FirstName}} {{contact.LastName}}</h4>
                    </div>

                    
                    <ul class="contact-list hide-for-small show-for-landscape">
                        <li><i class="foundicon-page"></i>&nbsp;{{contact.Account.Name}}</li>
                        <li><i class="foundicon-phone"></i>&nbsp;{{contact.Phone}}</li>
                        <li><i class="foundicon-mail"></i>&nbsp;<a href="mailto:{{contact.Email}}">{{contact.Email}}</a></li>
                    </ul>

                    <ul class="contact-list-small hide-for-medium hide-for-medium-up hide-for-landscape">
                        <small><li><i class="foundicon-phone"></i>&nbsp;{{contact.Phone}}</li></small>
                        <small><li><i class="foundicon-mail"></i>&nbsp;<a href="mailto:{{contact.Email}}">{{contact.Email}}</a></li></small>
                    </ul>

                </div>
                <div class="large-offset-3 large-2 columns hide-for-small">
                    <a href="#/view/{{contact.Id}}" class="button">View Profile</a>
                </div>           
            
            </li>
        </ul>

    </div>

</div>