<div ng-show="isWorking()">
    <p>Working</p>
</div>

<div ng-show="!isWorking()">
    <!-- This div is only displayed in deskcops (see below for mobile phones)-->
    <div class="hide-for-small large-12 columns">
    
        <div style="float:left; margin-bottom: 10px;">
            <input type="text" ng-model="searchTerm" placeholder="Search" style="border-radius: 1.5em">
        </div>

        <div style="float:left; margin-bottom:10px">
             <p class="button small radius" ng-click="doSearch(searchString)">Go</p>
        </div>


        <div style="float: right">
            <a href="#/new" class="button small radius">New</a>
        </div>


        <table class="table" style="width:100%">
            <thead>
            <tr>
                <th class='hide-for-small'>Id</th>
                <th>Full Name</th>
                <th>Company</th>
                <th class='hide-for-small'>Title</th>
                <th>Phone</th>
                <th class='hide-for-small'>Email</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="contact in contacts">
                <td class='hide-for-small'>{{contact.Id}}</td>
                <td><a href="#/view/{{contact.Id}}">{{contact.FirstName}} {{contact.LastName}}</a></td>
                <td>{{contact.Account.Name}}</td>
                <td class='hide-for-small'>{{contact.Title}}</td>
                <td>{{contact.Phone}}</td>
                <td class='hide-for-small'>{{contact.Email}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- This div is only displayed in mobile phones (see above for desktops) -->
    <div class="show-for-small small-12 columns">
        <form class="form-inline">
            <input type="text" ng-model="searchTerm" class="small-6 columns" style="border-radius:1.5em" placeholder="Search">
            <button ng-click="doSearch(searchString)" class="button small radius">Go</button>
            <button ng-click="doCreate()" class="button small secondary radius">&nbsp;+&nbsp;</button>
        </form>

        <table class="table" style="width:100%">
            <tr ng-click="doView(contact.Id)" ng-repeat="contact in contacts">
                <td> {{contact.FirstName}} {{contact.LastName}}
                    <br/>
                    <small><i>{{contact.Account.Name}}</i></small>
                </td>
                <td><i class="icon-chevron-right"></i></td>
            </tr>
        </table>
    </div>
</div>