<div class="large-4 small-12 columns panel radius">
    <p><strong>{{contact.FirstName}} {{contact.LastName}}</strong></p>

    <p>{{contact.Title}}</p>

    <p ng-show="contact.Account.Name">Account: {{contact.Account.Name}}</p>

    <p>Email: <a href="mailto:{{contact.Email}}">{{contact.Email}}</a></p>

    <p>Phone: <a href="tel:{{contact.Phone}}">{{contact.Phone}}</a></p>

    <p>
        <a class="button small secondary radius" href="#/edit/{{contact.Id}}">Edit</a>
        <a class="button small radius" href="#/contacts">Back to Contacts</a>
    </p>
</div>